/* CSS Document */
.form_date{
text-align:center;
margin-bottom: 10px ;
}

#profil2
{position:absolute;
left: 230px;
bottom:30px;}

#index
{ position:absolute;
left: 350px;
bottom:30px;

}

#hed { 
height:135px ; 
width: 860px; 
padding:10px;
margin:0 auto;
background-image:url(img/templatemo_body_top_bg.jpg);
position:relative;}

#domik { position:absolute;
left: 320px;
bottom:5px;}

#profil { position:absolute;
left: 202px;
bottom:5px;}

#yroki { position:absolute;
left: 438px;
bottom:5px;}
#obratka
{position:absolute;
left: 556px;
bottom:5px;}


.cd-top.cd-is-visible {
  /* кнопка становитс€ видимой */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* при прокрутке, уменьшим значение opacity */
  opacity: .5;
}
.main_border {border:1px solid #000000;}

p 
{
font :12px Verdana;
margin:15px;
}
h1{margin:15px;
}
.left {
background-color:#f6f6f6;
border-right:1px solid #424242;
width:182px;
}
.right { margin:8px; padding:5px; border: 1px solid gray; }
body {background-image:url(img/wood-blue-1440x9001.jpg) ;}
#telo
{background-color:#CCCCCC;}


/*таблица стилей навигации*/
p.title {
background-color: #0000A0;
color: #ffffff;
font-weight:bold;
margin:5px;
padding:5px;
}

#coolmenu{
border: 1px solid gray; /*—тиль рамки */
border-bottom-width: 0;
width: 90%; /*Ўирина меню */
background-color: #f6f6f6;  /*‘оновый цвет €чейки*/
margin:8px; /*Ўирина отступов*/
}

* html #coolmenu{ 
width: 150px;/*Ўирина меню дл€ Internet Explorer*/
}

#coolmenu a{
font: bold 13px Verdana; /*Ўрифт текста*/
padding: 2px; /*¬нутренний отсутп текста ссылки от краев €чейки*/
padding-left: 4px;/*¬нутренний отсутп текста ссылки от левого кра€ €чейки*/
display: block;
width: 100%; /*Ўирина €чейки*/
color: #000000;  /*÷вет текста*/
text-decoration: none; /*ѕодчеркивание у ссылок - нет*/
border-bottom: 1px solid gray;
}

html>body #coolmenu a{ 
width: auto;
}

#coolmenu a:hover{
background-color: #cccccc; /*‘оновый цвет €чейки при наведение курсора*/
color: #000000;  /*÷вет текста при наведении курсора*/
}
/*таблица стилей рассылки*/
p.title2 {
background-color: #C4C92F;
color: #ffffff;
font-weight:bold;
margin:5px;
padding:5px;
}

.form1 {
font-family: Verdana;
font-size: 10px;
}

.form3 {
font-family: Verdana;
font-size: 11px;
}

.formm {
border: 1px solid #cccccc;
margin:5px;
}

.lessons {border:1px solid #cccccc;
width:95%;}
.lesson_title{background-color:#f6f6f6;}


.lesson_name { font-weight:bold; margin-top:7px; margin-bottom:7px;}

.lesson_adds { font-size: 11px; margin-top:7px; margin-bottom:7px; color:#424242;}

.view_title {font-size:16px; font-weight:bold; color:#cc0000; text-align:center;}
.view_data {front-size:11px; color:#424242 ; margin-top:7px;margin-bottom:7px; font-weight:bold;}


.post_view {
font-size:11px;
color:#666666;
}

.post_title2
{
font-size:16px;
font-weight:bold;
color:#424242;
text-align:center;
background-color:#f6f6f6;
}

.post_add
{
font-size:11px;
margin-top:10px;
margin-bottom:10px;
font-weight:bold;
}

.post_comment
{
font-size:15px;
font-weight:bold;
color:#cc0000;
}

.post_comment_add
{
font-size:11px;
}

.post_div {
border-top:1px solid gray;
border-bottom:1px solid gray;
margin:15px;
}

.post_div p {
margin-left:0px}

.post {border:1px solid #cccccc;
width:95%;}
.post_title{background-color:#f6f6f6;}


.post_name { font-weight:bold; margin-top:7px; margin-bottom:7px;}

.post_adds { font-size: 11px; margin-top:7px; margin-bottom:7px; color:#424242;}

.post_view {
font-size:11px;
color:#666666;
}

.mini {
border: 1px solid #000000;
margin-right:10px;
margin-top:2px;
}